.idea/
dist/

coverage.out
report.json
gh-vanity

# Binaries for programs and plugins
*.exe
*.darwin
*.linux
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
